$green: #719E40;
$olive: #5F6324;

// Gutenberg color options
// -- see editor-color-palette in functions.php
$colors: ( green, $green ),
        ( olive, $olive );

/* Color Options
--------------------------------------------- */

@each $name, $color in $colors {

  .has-#{$name}-color {
    color: $color;
  }

  .has-#{$name}-background-color {
    background-color: $color;

    &.has-background-dim {
      background-color: rgba( $color, 0.2 );
    }
  }
}