#site-footer {
  @apply py-8;
  background-color: rgba( $green, 0.2 );

  @screen md {
    @apply py-12;
  }
}

.footer-nav-widgets-wrapper {
  @apply bg-green text-white;


  .menu {
    @apply flex;

    li {
      @apply my-0 mx-4 border-r border-white;
    }

    a {
      @apply text-white;
    }
  }
}

.footer-copyright {
  @apply text-center font-normal;
}

#site-footer .section-inner {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;

  .footer-credits {
    grid-column: 2 / 3;
    justify-content: center;
  }

  .to-the-top {
    grid-column: 3 / 4;
    justify-self: end;
  }
}