.primary-menu {

  > li {
    @apply mt-0 ml-2;

    @screen lg {
      @apply ml-4;
    }

    @screen xl {
      @apply ml-8;
    }
  }

  li.current-menu-item {
    a {
      text-decoration: none;

      &:after {
        background-color: $greenLight;
        width: 70%;
        height: 2px;
        content: '';
        position: absolute;
        left: 50%;
        bottom: -0.5rem;
        transform: translateX(-50%);
      }
    }
  }

  > li > a {
    @apply text-olive;

    &:after {
      background-color: $greenLight;
      width: 0;
      height: 2px;
      content: '';
      position: absolute;
      left: 50%;
      bottom: -0.5rem;
      transform: translateX(-50%);
      transition: width 300ms ease-in-out;
    }

    &:hover {
      @apply no-underline;

      &:after {
        width: 70%;
      }
    }
  }

  ul {
    @apply text-lg bg-green text-white;

    &:after {
      border-bottom-color: $green;
    }
  }

  ul.sub-menu {
    li a:after {
      display: none;
    }
  }
}

ul.primary-menu {
  @apply text-lg m-0;

  @screen xl {
    @apply text-xl;
  }
}

.footer-widgets-outer-wrapper {
  @apply py-16 border-0;
}

.footer-nav-widgets-wrapper .menu-footer-menu-container {

  .menu {
    @apply flex justify-end;

    li {
      @apply ml-0;

      a {
        @apply border-r border-r-2 border-white pr-4;
      }

      &:last-of-type {
        @apply mr-0;

        a {
          @apply pr-0 border-0;
        }
      }
    }
  }
}